<h1>Mis proyectos</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <%= image_tag "foto1.jpg", class:"card-img-top"  %>
        <div class="card-body">
          <h5 class="card-title">Gato 1</h5>
          <p class="card-text">Descripción </p>
          <button type='button', class= 'btn btn-info'>Ver más</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <%= image_tag "foto2.jpg", class:"card-img-top"  %>
        <div class="card-body">
          <h5 class="card-title">Gato 2</h5>
          <p class="card-text">Descripción</p>
          <button type='button', class= 'btn btn-info'>Ver más</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <%= image_tag "foto3.jpg", class:"card-img-top"  %>
        <div class="card-body">
          <h5 class="card-title">Gato 3</h5>
          <p class="card-text">Descripción </p>
          <button type='button', class= 'btn btn-info'>Ver más</button>
        </div>
      </div>
    </div>
  </div>
</div>